
body{
    background-color: #3D5B59;
    font-family: 'Shadows Into Light', cursive;
}
.sticky {
    position: fixed;
    margin: auto;
    width: 100%;
    z-index: 1;
    top: 0;
}

.content {
    margin-top: 250px;
    
}
.win-text, .loss-text, .missed-text {
    text-align: center;
    color: #B99095;
    font-size:20px;
    margin: 10px;
}

.time {
    text-align: center;
    color: #FAB333;
    font-size:30px;
    margin: 10px;
}
.scoreboard-flex{
    display:flex;
    justify-content:center;
}

.scoreboard-flex > div{
    width:100%;
    text-align:center;
    font-size:28px;
}

.dot {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    font-size: 28px;
    color: #fff;
    margin: auto;   
    vertical-align: middle;
    word-wrap: normal;
    text-align: center;
    background: #000;
  }

  .question {
      font-size: 30px;
      text-align: center;
      float: unset;
      color: #E8E5D8;
  }

  .answer-flex {
      display: flex;
      justify-content: center;
  }

  .answer-flex > div {
    width:100%;
    max-width:200px;
    padding-top: 20px;

  }

 .answerButton{
    color:#FFF;
    border-radius:0px;
    background:#FAB333;
    border:none;
    padding:8px 15px;
    text-align:center;
    font-size:22px;
    outline:none;  

}

.answerButton:hover{
    color:#fff;
    border-radius:0px;
    background: #E0C1AE;
    border:none;
    padding:8px 15px;
    text-align:center;
    font-size: 22px;
    cursor:hand;
}

.button-area{
    width:100%;
    margin:0 auto;
    text-align:center;
    vertical-align:center;
}


.padder{
    padding:50px 0px;
    background-color: RGBA(232,229,216,0.5);
    width: 80%;
    margin: auto;
    border-radius:10px;
    border: #3D5B59 solid 5px;
}


/* COLOR PALETTE
#FAB333 pineapple
#E8E5D8 ivory
#B99095 mauve
#E0C1AE soft brown
#3D5B59 teal green
*/